# Node artifact files
node_modules/
playwright-report/
test-results/
test-annotations/
report/
logs/
*.env
auth/
steps-report/

results.xml
.husky/pre-commit
servers.xlsx
.DS_Store
servers.xlsx
tests/__screenshots__/VisualTesting/dashboard.spec.ts/linux/dashboard.png
tests/.DS_Store
utils/.DS_Store
region-0.png
region-1.png
aria-allowed-role-0.png
link-in-text-block-0.png
link-in-text-block-0.png
allure-report/
allure-results/
.taskkey
.qodo/history.sqlite
blob-report/report-desktop-firefox-desktop-webkit.zip
