# Node artifact files
node_modules/
playwright-report/
test-results/
test-annotations/
report/
logs/
*.env
auth/

results.xml
.husky/pre-commit
servers.xlsx
.DS_Store
servers.xlsx
tests/__screenshots__/VisualTesting/dashboard.spec.ts/linux/dashboard.png
tests/.DS_Store
utils/.DS_Store
